.container {
  display:grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  }


.header {
  grid-area: h;
  background-color: rgba(42, 0, 158, 0.781);
}
.header img {
width : 50px;
}
/* .profile-header_img {
  height: 100px;
} */

.nav{
  grid-area: n;
  background-color: rgba(86, 16, 248, 0.404);
}

.content{
  
  grid-area: c;
  background-color: rgb(255, 255, 255);
  
}